<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Game</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
            <a href="/game-add">Adicionar Games</a>
            <a href="/game-list">Listar Games</a>
        </nav>
    </header>

    <h1>Game Store</h1>

    <form th:action="@{/game-add}" method="post">
        <label for="nome">Nome do Jogo</label>
        <input type="text" name="nome" id="nome" required>

        <label for="descricao">Descricao</label>
        <input type="text" name="descricao" id="descricao" required>

        <label for="desenvolvedora">Desenvolvedora</label>
        <input type="text" name="desenvolvedora" id="desenvolvedora" required>

        <label for="preco">Preco</label>
        <input type="number" name="preco" id="preco" step="0.01" min="0" required>

        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
